
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1 {
  background-color: rgb(186, 204, 252);
  font-family: Montserrat;
}
h3 {
  background-color: yellow;
  padding: 30px;
  text-align: center;
}
p {
  padding: 50px;
  margin: 50px;
  background-color: black;
  color: antiquewhite;
}
